############
## PT_BR: Configurações do Backend (serviços do DSpace)
## EN: Back end Configuration (dspace services)
############

#################
# PT_BR:    Informe o diretório de instalação do DSpace antigo (não iremos modifia-lo)
#           Exemplo: /home/your_user/dspace-4-install-dir
# EN:       Inform the root directory of the old DSpace (we will not change it)
#           Example: /home/your_user/dspace-4-install-dir
DSPACE_INSTALL_DIR=


#################
# PT_BR: Abaixo, informe os endereços válidos (acessíveis) do backend.
# EN: Bellow, fill the address of the dspace's back-end. Important: this address must be valid to be accessed via browser
# Example: http
BACKEND_PROTOCOL=
# Example: 192.169.5.133
BACKEND_HOSTNAME=
# Example: 9080
BACKEND_PORT=
# Example: false
BACKEND_USES_SSL=
# PT_BR: Campo não obrigatório. Caso você já tenha um backend do DSpace 7 no git, informe abaixo. Caso contrário, o backend será baixado do repositório oficial do DSpace.
# EN: Not required. If you have a public git repository of your DSpace 7, inform bellow. Otherwise, the backend will be download from the official DSpace Github's repository.
BACKEND_ADDRESS_GIT=

#################
# PT_BR: Também defina estas opções se você estiver usando um proxy reverso
# EN: Also set these options if you're using a reverse proxy
REVERSE_PROXY_BACKEND_USES_SSL=
REVERSE_PROXY_BACKEND_PROTOCOL=
REVERSE_PROXY_BACKEND_HOSTNAME=
REVERSE_PROXY_BACKEND_PORT=

############
## PT_BR: Configurações do Front-end (Interface gráfica do DSpace)
## EN: Front-end configuration (DSpace's interface)
############

#################
# PT_BR: Abaixo, informe os endereços válidos (acessíveis) do backend.
# EN: Bellow, fill the address of the dspace's back-end. Important: this address must be valid to be accessed via browser
# Example: http
FRONTEND_PROTOCOL=
# Example: 192.169.5.133
FRONTEND_HOSTNAME=
# Example: 5000
FRONTEND_PORT=

# PT_BR: Campo não obrigatório. Caso você já tenha um front-end do DSpace 7 no git, informe abaixo. Caso contrário, o backend será baixado do repositório oficial do DSpace.
# EN: Not required. If you have a public git repository of your Angular DSpace 7, inform bellow. Otherwise, the frontend will be download from the official DSpace Github's repository.
FRONTEND_ADDRESS_GIT=

#################
# PT_BR: Também defina essas opções se você estiver usando um proxy reverso
# EN: Also set these options if you're using a reverse proxy
REVERSE_PROXY_FRONTEND_PROTOCOL=
REVERSE_PROXY_FRONTEND_HOSTNAME=
REVERSE_PROXY_FRONTEND_PORT=
